/* FOOTER */
/*
- FOOTER
*/


.footer {
  align-self: end;
  color: $white;
  grid-area: footer;
  overflow: hidden;
  padding-top: 4rem;
  &__section {
    &:before {
      background: $theme-dark-gray;
      content: '';
      display: block;
      height: 150px;
      margin-left: -5%;
      position: relative;
      transform: rotate(-4deg);
      width: 110%;
    }
  }
  &__container {
    align-items: center;
    background: $theme-dark-gray;
    display: flex;
    margin-top: -4.5rem;
    max-width: 100%;
    padding: 10rem 2rem 2rem;
  }
  &__by {
    align-items: center;
    display: flex;
    flex-grow: 1;
  }
  &__support {
    align-items: center;
    display: flex; 
  }
  &__logo {
    margin-right: 1.5rem;
  }
  &__text {
    font-weight: bold;
  }
  &__icon {
    margin-right: 1.5rem;
    width: 2rem;
  }
  a {
    color: $white;
  }
}