/* HEADER REGION */
/*
- HEADER
- HEADER STATES
*/


// HEADER

.header { 
  background: $theme-dark-gray;
  grid-area: header;
  z-index: $z-index-header;
  @include breakpoint($tablet){
    max-width: 4.5rem;
    min-width: 4.5rem;
  }
  &__container {
    padding: .5rem 1.5rem;
    position: relative;
    @include breakpoint($tablet){
      padding: 0;
    }
  }
  &__logo {
    display: block;
    max-width: 100%;
    @include breakpoint($tablet){
      margin: .5rem;
    }
    img {
      max-width: 100%;
    }
  }
  a {
    color: $white;
  }
}
