/* BREAKPOINTS */


// BREAKPOINTS - WIDTH

$mobile-small: 400px;
$mobile: 420px;
$mobile-max: max-width 960px; 
$tablet: 768px;
$tablet-large: 960px;
$desktop-small: 1024px;
$desktop: 1200px;
$desktop-max: 1600px;

// BREAKPOINTS - HEIGHT


$height-short: (min-height 600px);
