/* COLORS */
/*
- BASIC COLORS
- THEME COLORS
*/


// BASIC COLORS

$black: #000;
$white: #FFF;
$gray: #D9D9D9;


// THEME COLORS

$theme-red: #A51C30;
$theme-light-red: #860E1F;
$theme-dark-gray: #444;
$theme-light-gray: #F7F7F7;
