/* COLORS */
/*
- BASIC COLORS
- THEME COLORS
*/


// BASIC COLORS

$black: #000;
$white: #FFF;
$gray: #D9D9D9;


// THEME COLORS

$theme-red: #B4002B;
$theme-light-red: #860E1F;
$theme-dark-gray: #444;
$theme-light-gray: #F2F2F2;
$theme-teal: rgba(60,192,199,.9);
$theme-teal-light: rgba(60,192,199, .8);
$theme-teal-lighter: rgba(60,192,199, .7);
