/* LAYOUT */
/*
- WIDTHS
*/


// WIDTHS
$container-extra-small: 37.5rem; // 600px
$container-small: 53rem; // 848px
$container-normal: 62.5rem; // 1000px
$container-wide: 75rem; // 1200px
$container-max: 87.5rem; // 1400px
