/* SEARCH */
/*
- SEARCH
*/


// SEARCH

.search {
  display: flex;
  margin-bottom: 2rem;
  &__form {
    display: flex;
    width: 100%;
  }
  &__input {
    background: $theme-light-gray;
    border: none;
    font-size: 1.25rem;
    padding: 1rem;
    width: 100%;
    &::placeholder {
      font-style: italic;
    }
  }
  &__button {
    background: $theme-light-gray;
    border: none;
    font-size: 1.25rem;
    padding: 1rem;
    img {
      max-width: 3rem;
    }
  }
}